# Ignore build folders everywhere
[Bb]in/
[Oo]bj/
# Ignore specifically for the UI path
**/NFCEPS_UI/bin/
**/NFCEPS_UI/obj/
**/nfceps_ui/bin/
**/nfceps_ui/obj/

**/bin/
**/obj/
**/debug/
**/Release/
*.user
*.suo
.idea/

.vscode/
NFCEPS_API/NFCEPS_API.csproj.lscache
NFCEPS_UI/NFCEPS_UI.csproj.lscache
/NFCEPS_API/.vs
